//-data comes here
-
    var header="#about-me"
    var imagePath="asset/image/IMG_1399.JPG"
    var myFullName="Raluca Ghintuiala"
    var myTitle="Future Programmer, Present Learner"
    var slogan="I am not a real front end programmer, but I will be."
    var achievement=
        {
        title:"Achievement",
        content:"No achievements so far :("
        }
    var coolStuff={
        title: "Grab nice stuff",
        buttonList: [
            {
                url: "https://www.facebook.com/raluca.ghintuiala/",
                icon: "facebook2",
                label: "Click to visit my Facebook profile "
            }, 
            {
                url: "asset/doc/CV_GHINTUIALARALUCAupdateeeeeeee.pdf", 
                icon: "file-word",
                label: "Click to see my cv"
            }
        ]
    }

//-theview comes here
#about-me
.about-me
    .about-me__header=header
    .about-me__avatar-wrapper
        img.about-me__avatar(src=imagePath)
    .about-me__full-name=myFullName
    .about-me__title=myTitle
    .about-me__slogan=slogan

    .about-me__title=achievement.title  
    .about-me__content=achievement.content

    .about-me__title=coolStuff.title
    .about-me__link-list
        each button in coolStuff.buttonList
            a.about-me__link(href=button.url)
                span.about-me__link-description=button.label
                span(class=`my-cv__icon--${button.icon}`)

